<%- include('../wrappers/head', {title: `${userid}'s Profile`}); %>
<% if(user.access) { %>
  <section>
    <center>
      <aside class="left">
        <div>
          <h1><%= userid %>'s Profile (Admin)</h1>
          <p><strong>Name:</strong> <%= user.fname %> <%= user.lname %></p>
          <p><strong>Business:</strong> <%= user.bname %></p>
          <p><strong>Username:</strong> <%= userid %></p>
          <p><strong>Email:</strong> <%= user.email %></p>
          <p><a href="/profile/<%= userid %>/edit">Edit Profile</a></p>
        </div>
        <div>
          <h2>Recurring Orders</h2>
          <% ROs.forEach((RO) => { %>
            <p><strong><em><%= RO.name %></em></strong> - <strong><%= RO.desc %></strong> - $<%= RO.total %> - <a href="javascript:cancelRO(<%= RO.id %>);">Cancel</a></p>
          <% }); %>
        </div>
      </aside>
      <aside class="right">
        <input type="text" width="100%" id="search" placeholder="Search for user..." />
        <a href="javascript:searchUser();">Search</a>
        <div id="searchOutput"></div>
      </aside>
      <script src="/js/profiles/searchUser.js"></script>
    </center>
  </section>
<% } else { %>
  <section>
    <center>
      <div>
        <h1><%= userid %>'s Profile</h1>
        <p><strong>Name:</strong> <%= user.fname %> <%= user.lname %></p>
        <p><strong>Business:</strong> <%= user.bname %></p>
        <p><strong>Username:</strong> <%= userid %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><a href="/profile/<%= userid %>/edit">Edit Profile</a></p>
        <!-- <p><a href="/login/reset">Change Password</a></p> -->
      </div>
      <div>
        <h2>Your Recurring Orders</h2>
        <% ROs.forEach((RO) => { %>
          <p><strong><%= RO.desc %></strong> - $<%= RO.total %> - <a href="javascript:cancelRO(<%= RO.id %>);">Cancel</a></p>
        <% }); %>
      </div>
      <div>
        <h2>Your Outstanding Invoices</h2>
        <% user.bills.forEach((bill) => { %>
          <p><strong><%= bill.desc %></strong> - $<%= bill.total %> - <a href="/invoicing/<%= bill.id %>/pay">Pay</a></p>
        <% }); %>
      </div>
      <script src="/js/profiles/cancelRO.js"></script>
    </center>
  </section>
<% } %>
<%- include('../wrappers/foot'); %>