<%- include('../wrappers/head', {title: `${userid}'s Profile`}); %>
<section>
  <center>
    <div>
      <h1><%= userid %>'s Profile</h1>
      <p><strong>Name:</strong> <%= user.fname %> <%= user.lname %></p>
      <p><strong>Business:</strong> <%= user.bname %></p>
      <p><strong>Username:</strong> <%= userid %></p>
      <p><strong>Email:</strong> <%= user.email %></p>
      <p><a href="/login/<%= userid %>/edit">Edit Profile</a></p>
      <!-- <p><a href="/login/reset">Change Password</a></p> -->
    </div>
    <div>
      <h2>Your Recurring Orders</h2>
      <% userRO.forEach((RO) => { %>
        <p><strong><%= RO.desc %></strong> - $<%= RO.total %> - <a href="javascript:cancelRO('<%= RO.username %>','<%= RO.total %>');">Cancel</a></p>
      <% }); %>
    </div>
    <div>
      <h2>Your Outstanding Invoices</h2>
      <% user.bills.forEach((bill) => { %>
        <p><strong><%= bill.desc %></strong> - $<%= bill.total %> - <a href="/invoicing/<%= bill.id %>/pay">Pay</a></p>
      <% }); %>
    </div>
    <script src="/js/cancelRO.js"></script>
  </center>
</section>
<%- include('../wrappers/foot'); %>