<%- include('../wrappers/head', {title: `${userid}'s Cart`}); %>
  <% if(userid === 'guest') { %>
    <section>
      <h1>Unavailable!</h1>
      <h3>Can't make a cart as a guest!</h3>
      <script>
        (()=>{setTimeout(()=>{window.location = window.location.origin},3000);})();
      </script>
    </section>
  <% } else { %>
    <section>
      <center>
        <% if(user.cart.length !== 0) { %>
          <h1><%= userid %>'s Cart</h1>
          <table id="cart-view">
            <tr>
              <th>Name</th>
              <th>Desc</th>
              <th>Amount</th>
              <th>Price</th>
              <th><a href="javascript:clear();">Empty</a></th>
            </tr>
            <% user.cart.forEach((item, index) => { %>
              <tr id="item<%= index %>">
                <td><%= item.get('name') %></td>
                <td><%= item.get('item') %></td>
                <td><%= item.get('qty') %></td>
                <td><%= item.get('price') %></td>
                <td>
                  <a href="javascript:remove({name: '<%= item.get('name') %>', item: '<%= item.get('item') %>', qty: <%= item.get('qty') %>, price: <%= item.get('price') %>},<%= index %>);" class="DEAL">
                    <h3>Remove</h3>
                  </a>
                </td>
              </tr>
            <% }); %>
          </table>
          <a href="/pay" class="DEAL"><h2>Proceed to Checkout</h2></a>
        <% } else { %>
          <h1>Cart is Empty</h1>
          <a href="/services" class="DEAL"><h2>Add Services to Cart</h2></a>
        <% } %>
        <script src="/js/cart/index.js"></script>
      </center>
    </section>
  <% } %>
<%- include('../wrappers/foot'); %>