<%- include('../head', {title: 'Services'}); %>
<section>
  <center>
    <h1>Services</h1>
    <flex justify="evenly" row wrap id="service-list">
      <% services.forEach((service) => {
        const _service = service.name.replace(" ","-").toLowerCase(); %>
        <div class="card">
          <a href="<%= `/services/${_service}` %>">
            <%= service.name %>
          </a>
          <a href="<%= `/services/${_service}` %>">
            <img src="<%= service.img %>" alt="<%= service.name %>" />
          </a>
          <p>One-time service: $<%= service.pricing[0] %></p>
        </div>
      <% }); %>
    </flex>
  </center>
</section>
<%- include('../foot'); %>