<%- include('../head', {title: service.name}); %>
<section>
  <center>
    <h1><%= service.name %></h1>
    <p><%= service.desc %></p>
    <div id="left">
      <img src="<%= service.img %>" alt="<%= service.name %>" />
      <% if(service.name == 'Biohazard Cleanup') { %>
        <img src="/assets/biohazard-cert.png" alt="Biohazard Certificate" />
      <% } %>
    </div>
    <div id="right">
      <flex justify="space-around">
        <div>
          <h1>Normal Clean</h1>
          <% service.prices.forEach((price, index) => { %>
            <label for="<%= price.get('for') %>"><%= price.get('for') %>: $<%= price.get('amount') %></label>
            <% if(index == 0) { %>
              <input type="radio" name="item" value="<%= price.get('amount') %>" id="<%= price.get('for') %>" checked /><br>
            <% } else { %>
              <input type="radio" name="item" value="<%= price.get('amount') %>" id="<%= price.get('for') %>" /><br>
            <% } %>
          <% }); %>
        </div>
        <% if (service.dcm) { %>
          <div>
            <h1>Deep Clean</h1>
            <% service.prices.forEach((price, index) => { %>
              <label for="<%= price.get('for') %>DCM"><%= price.get('for') %>: $<%= price.get('amount')*service.dcm %></label>
              <input type="radio" name="item" value="<%= price.get('amount')*service.dcm %>" id="<%= price.get('for') %>DCM" /><br>
            <% }); %>
          </div>
        <% } %>
      </flex>
      <div>
        <label for="qty">Quantity: </label>
          <% if(service.qtyLimit > 50) { %>
            <input type="number" value="0" step="5" min="0" max="<%= service.qtyLimit %>" id="qty" /><br>
          <% } else { %>
            <select id="qty">
            <% for(let i = 1; i <= service.qtyLimit; i++) { %>
              <option value="<%= i %>"><%= i %></option>
            <% } %>
          </select><br>
          <% } %>
        <a href="javascript:cartAdd({name:'<%= service.name %>'});" class="add-btn">Add to Cart</a><br>
        <a href="javascript:cartRemove({name:'<%= service.name %>'});" class="remove-btn">Remove From Cart</a>
      </div>
    </div>
    <script src="/js/cart/add.js"></script>
    <script src="/js/cart/remove.js"></script>
    <!-- Handle query strings for certain services (mainly for preselect purposes) -->
    <script src="/js/queryStringParser.js"></script>
  </center>
</section>
<%- include('../foot'); %>