<%- include('../head', {title: service.name}); %>
<section>
  <center>
    <h1><%= service.name %></h1>
    <div id="left">
      <img src="<%= service.img %>" alt="<%= service.name %>" />
    </div>
    <div id="right">
      <% service.prices.forEach(price => { %>
        <label for="<%= price.get('for') %>"><%= price.get('for') %>: $<%= price.get('amount') %></label>
        <input type="radio" name="item" value="<%= price.get('amount') %>" id="<%= price.get('for') %>" /><br>
      <% }); %>
      <a href="javascript:cartAdd({name:'<%= service.name %>'});" class="add-btn">Add to Cart</a><br>
      <a href="javascript:cartRemove({name:'<%= service.name %>'});" class="remove-btn">Remove From Cart</a>
    </div>
    <script src="/js/cart/add.js"></script>
    <script src="/js/cart/remove.js"></script>
  </center>
</section>
<%- include('../foot'); %>